# Python / Django
*.pyc
*~
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
env.bak/
venv.bak/

# Environment Variables
.env

# SQLite Database (Do not push your local development database!)
db.sqlite3
db.sqlite3-journal

# Media files (User uploaded content)
media/
media_root/

# Staticfiles collected during deployment
staticfiles/

# IDE / OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
